:root {
	--basic-white: #fff;
	--basic-black: #000;
	--basic-grey: #F7F5F9;
	--basic-blue: #6979F8;
	--basic-purple: #854FC8;
	--text: #D0C9D6;
}

/*Global*/

a {
	text-decoration: none;
}

.page {
	height: 100%;
}

.page-body {
	display: grid;
	min-height: 100%;
	min-width: 481px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}

/*Container*/

.container {
	width: 481px;
	height: 392px;
	margin: 31px auto;
	padding: 0;
	background-color: var(--basic-grey);
	border-radius: 10px;
	box-shadow: 5px 5px 15px 1px var(--text);
}

.container h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	color: var(--basic-black);
	margin: 40px 0 0 40px;
}

.container-list {
	display: flex;
	flex-wrap: wrap;
}

.container-list input {
	width: 401px;
	margin: 25px 40px 0;
	padding: 14px 0 14px 15px;
	height: 48px;
	box-sizing: border-box;
	border-radius: 6px;
	border: none
}

.container-list input:hover,
.container-list input:focus,
.container-list input:active {
	outline: none;
	border: 1px solid var(--basic-purple);
}

/*Button*/

.button {
	display: inline-block;
	width: 401px;
	height: 48px;
	margin: 25px auto 40px auto;
	font: inherit;
	font-size: 17px;
	line-height: 22px;
	color: var(--basic-white);
	padding: 13px 0;
	text-transform: uppercase;
	background-color: var(--basic-blue);
	border: 1px solid var(--basic-black);
	border-radius: 6px;
	box-sizing: border-box;
	text-align: center;
}
